<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrepaidService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="Config" connectionString="provider=oraoledb.oracle;Data Source=ebstestold;User ID=brplkyc;Password=brplkyc;Unicode=True" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <PrepaidService.Properties.Settings>
            <setting name="PrepaidService_ISU_WebService" serializeAs="String">
                <value>http://10.8.61.235/DELHIWSV2/ISUService.asmx</value>
            </setting>
        </PrepaidService.Properties.Settings>
    </applicationSettings>
</configuration>
